# File to ignore
*.zip
*.gz
*.trimlog
*.out
*_fastqc.html
*.svg
*.pdf
*.json
*.fa*
*.fasta
*.info
done
*.log
*.tsv
*.tex
*.sf
*.unaligned
*.coords*
*.stderr
*.stdout
*.bam
*.ms

# path to be avoided 

Log_Folder/
multiqc_data/
Bins/
DNA_Mapping/
storage/
bins/
Assembly/
summary/
combined_reference/
icarus_viewers/
krona_charts/
not_aligned/
quast_downloaded_references/
runs_per_reference/
05_Annotation/
06_Analysis_of_Expression/
